body
{
    overflow: hidden;
    font-family: GT-Walsheim;

    color: white;
    background: #111;
}

@keyframes flagAnim {
    from {
        -ms-transform: translate(0, 100vh); /* IE 9 */
        -webkit-transform: translate(0, 100vh); /* Safari */
        transform: translate(0, 100vh);;
    }
    to {
        -ms-transform: translate(0px, 0px); /* IE 9 */
        -webkit-transform: translate(0px, 0px); /* Safari */
        transform: translate(0px, 0px);
    }
}

.flagRaiseAnim
{
    animation-timing-function: ease-out;
    animation-name: flagAnim;
    animation-duration: 1.8s;
}

@font-face
{
/*    font-family: migrant;
    src: url('../fonts/migrant.otf');*/
    font-family: 'GT-Walsheim';
    src: url('../fonts/GT-Walsheim-Pro-Regular.otf');

}

@font-face{
    font-family: 'Austin';
    src: url('../fonts/Austin-Medium.otf');
}

/*
modal css
*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal p{
    margin-bottom: 0;
    font-size: 18pt;
}

.indent{
    text-indent: 12%;
}

/* Modal Content/Box */
.modal-content {
    background-color: yellow;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #000;
    width: 60%; /* Could be more or less, depending on screen size */
    height: auto;
    max-height: 75%;
    overflow-y: scroll;
    color:black;
    border-radius: 0px;
}

::-webkit-scrollbar
{
    width: 12px;

    border-left: solid #000 1px;
}
::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 0;
    background: #000;

}
::-webkit-scrollbar-thumb:window-inactive
{
    border: solid #000 1px;
    background: #fff;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
index css
*/

.home{
/*    font-family: Austin;*/
}

.home:hover
{
    cursor: pointer;

    color: yellow;
}


.flags_display
{
    padding: 14pt 18pt;

    text-transform: uppercase;
    max-width: 100%;
}

.flags_display h1
{
    font-size: 24pt;
}

.proposal
{
    line-height: 40px;

    max-width: 200px;
    height: 40px;
    padding: 0 20pt;

    text-align: left;
    text-transform: uppercase;
}

.nav
{
    display: flex;

    justify-content: space-between;
}

.upperRight{
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    text-transform: none;
    width: 60%;
}

.upperRight h1{
    padding: 14pt 18pt;
}

.flushRight{
    text-align: right;
    width: auto;
    cursor: pointer;
}

.flushRight:hover{
    color: yellow;
}

.flags
{
    position: relative;

    display: flex;

    justify-content: space-around;
}

.descriptionModal
{
    width: 20vw;
    height: 100vh;
    background-color: white;
    display: inline-block;
}

.flag_hero
{
    width: 18vw;
}

.flag-one
{
    position: relative;

    width: 19vw;
    height: 12.71vw;
    margin-top: calc(100pt - (5vw));
    padding-left: 0;

    background-color: #111;
    /*background: url("../flags/1.png");*/
    background-size: cover;
}

.flag-two
{
    position: relative;

    width: 19vw;
    height: 12.71vw;
    margin-top: calc(200pt - (10vw));

    background-color: #111;
    /* background: url("../flags/3.png");*/
    background-size: cover;
}

.flag-three
{
    position: relative;

    width: 19vw;
    height: 12.71vw;
    margin-top: calc(300pt - (15vw));

    background-color: #111;
    /*background: url("../flags/2.png");*/
    background-size: cover;
}

.flag-four
{
    position: relative;

    width: 19vw;
    height: 12.71vw;
    margin-top: calc(400pt - (20vw));

    background-color: #111;
    /*background: url("../flags/4.png");*/
    background-size: cover;
}

.flag_pole_top
{
    position: absolute;
    top: -1vw;
    left: -11pt;
    border-radius: 100%;
    min-width: 12px;
    min-height: 12px;

    color: #111;
    border: none;
    background-color: #333;
}

.flag_pole
{
    position: absolute;
    top: 0vw;
    left: -9pt;

    min-width: 5pt;
    min-height: 2000px;

    color: #111;
    border: none;
    background-color: #333;
}

.whiten{
    background-color: white;
    transition: 1s ease-in-out;
}

/*////////////////////////////////////
flag thumbnail css
////////////////////////////////////*/

.bottom
{
    position: absolute;
    bottom: 0;
    left: 0;
}

.flag_finder
{
    /*padding-bottom: 5pt;*/
    overflow: hidden;

    width: 100%;
    max-height: 33pt;

    cursor: pointer;
    transition: all .6s;
    /*margin-top: 2pt;*/

    border-top: solid;
    border-top-width: 1pt;
    border-top-color: white;
    background: #111;
}

a{
    color: yellow;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}


.flag_finder:hover
{
    max-height: 300pt;
}

.proposal
{
    position: absolute;
    top: -1pt;
    left: 5pt;

    display: inline-block;

    max-width: 5%;
    padding: 3pt 8pt;

    text-align: center;
}

.proposalDisc
{
    transition: .3s;
}

.active
{
    background: #111;
}

h5
{
    font-size: 14pt;

    display: inline;

    text-align: center;
}

.flag_group
{
    display: inline-block;

    padding: 4pt 7pt 5pt 7pt;
}

.flag_group:hover
{
    background: yellow;
}

.flag_thumbnails
{
    position: relative;
    top: 0;
    left: 100pt;

    display: inline-block;

    max-width: 90%;

    cursor: pointer;
}

.flag
{
    width: 30px;
    height: 20px;
}


/*////////////////////////////////////
flag animation
////////////////////////////////////*/


.flagContain
{
    min-width: 100%;
    min-height: 100%;

    background-size: cover;
}

/*.flagPole{
  width: 2vw;
  height: 90vh;
  position: relative;
  background-color: white;
  margin-left: 15vw;
  }*/

  .bgAnimation
  {
    position: absolute;

    width: 100%;
    height: 101%;

    -webkit-animation: slide 1.2s infinite linear;

    background: url(../flag_back_thiqr.svg) repeat round;
    background-color: transparent;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@-webkit-keyframes slide
{
    from
    {
        background-position: 0 0;
    }
    to
    {
        background-position: 19vw 0;
    }
}

@media only screen and (max-width: 800px)
{

}

@media only screen and (max-width: 500px)
{
    .flags_display h1
    {
        font-size: 18pt;
    }

    .flag-one
    {
        width: 22vw;
        height: 14.52vw;
        margin-top: calc(50pt - (5vw));
    }

    .flag-two
    {
        width: 23vw;
        height: 15.18vw;
        margin-top: calc(150pt - (10vw));
    }

    .flag-three
    {
        width: 23vw;
        height: 15.18vw;
        margin-top: calc(250pt - (15vw));
    }

    .flag-four
    {
        width: 23vw;
        height: 15.18vw;
        margin-top: calc(350pt - (20vw));
    }

    .flag
    {
        width: 20px;
        height: 13.2px;
    }
    .flag_pole
    {
        left: -9pt;

        min-width: 3pt;
        min-height: 2000px;
    }
    @-webkit-keyframes slide
    {
        from
        {
            background-position: 0 0;
        }
        to
        {
            background-position: 23vw 0;
        }
    }
    .modal-content {
    margin: 10% auto; /* 15% from the top and centered */
    padding: 10px;
    width: 90%; /* Could be more or less, depending on screen size */
    height: auto;
    max-height: 90%;
}
